@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: 'Roboto Condensed', sans-serif;
}

img{
  border: 1px solid gray;
}

.header{
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 75px;

  border-bottom: 1px solid;
  
}
.header-left{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.header-right{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin-right: 50px;
}

.logo{
  font-family: 'Cedarville Cursive', cursive;
  text-decoration: none;
  font-size: x-large;
}

.landing-container{
  display: flex;
  position: relative;
  justify-content: center;
  /* height: 200px; */
  width: 500px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  
}

.home-container{
  display: flex;
  position: relative;
  justify-content: center;
  /* height: 200px; */
  width: 500px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  
  width: 100%;
}


.home-left{
  width: 50%;
  
  position: relative
}

.home-right{
  width: 50%;
  
  position: relative;
}

.home-overlay{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.home-overlay:hover{
  opacity: 1;
  transform: translateY((20px));
  transition: transform(.2s);
}

.main-cover-photo{
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.overlay{
position: absolute;
top:0;
left:0;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.3);
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.2s;
}

.overlay:hover{
  opacity: 1;
  transform: translateY((20px));
  transition: transform(.2s);
}

.overlay div{
  color:white;
  font-size: larger;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.home-overlay div{
  color:white;
  font-size: larger;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.home-overlay div:hover{
  border: 2px solid;
}

.overlay div:hover{
border: 2px solid;
}

.indoor-cover-photo{
  height: 500px;
  width: 700px;
  
}
.outdoor-cover-photo{
  height: 500px;
  width: 700px;
}

.item-overlay{
  position: relative;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  content: "details";
  opacity: .9;
}

.item-details{
   
  display: flex;
  justify-content: space-between;
}

.item-container{
  /* position: relative; */
  /* border: 1px solid blue; */
  height: 350px
}

.details-button{
  color:black;
  position: relative;
  font-size: small;
  border: .75px solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 8px;
}

.details-button:hover{
  background-color:#F8F8F8;
}

.landing-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-container{
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 85%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.main-item-photo {
  height: 300px;
  width: 300px;
  
}

.border{
  border: 5px solid yellow;
}

.itemdetail-photo{
  height: 500px;
  width: 500px;
}

.fa{
  color:red;
}

.image-incart{
  height: 300px;
  width: 275px;
}

div h2 {
  margin-left: 4.5%;
}

.cart-container{
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 90%;
  border: 1px solid black;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.item-details div div {
  margin-left: 10px;
  margin-top: 5px;
}

