.test{
  color: yellow;
}

.header{
  display: flex;
  /* border: 1px solid; */
  justify-content: space-around;
  list-style-type: none;
}

.main-cover-photo{
  height: 800px;
  width: 700px;
}

.landing-container{
  display: flex;
  justify-content: center;
}

.indoor-cover-photo{
  height: 500px;
  width: 700px;
  
}
.outdoor-cover-photo{
  height: 500px;
  width: 700px;
}

.landing-container{
  display: flex;
  justify-content: space-around;
  border: 1px solid;
}

.landing-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

