.test{
  color: yellow;
}

.header{
  display: flex;
  /* border: 1px solid; */
  justify-content: space-around;
  list-style-type: none;
}

.main-cover-photo{
  height: 800px;
  width: 700px;
}

.landing-container{
  display: flex;
  justify-content: center;
}

.indoor-cover-photo{
  height: 500px;
  width: 700px;
  
}
.outdoor-cover-photo{
  height: 500px;
  width: 700px;
}

.landing-container{
  display: flex;
  justify-content: space-around;
  border: 1px solid;
}

.landing-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-container{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  height: 80%;
  width: 85%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-item-photo {
  height: 300px;
  width: 300px;
  
}

.item-container{
  height: 300px;
  width: 300px;
}